* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body * {
     font-family: 'inter', sans-serif;
     color: var(--text-color);
}

    /* dark mode config */

:root {
    --text-color: #FFFF;
    --bg-url: url(./assets/backgroundMobileDark.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba( 255, 255, 255, 0.02);
    --switch-bg-url: url(./assets/moonStars.svg);
}

   /* Light mode config  */
 
.light {
   --text-color: #000;
   --bg-url: url(./assets/backgroundMobileLight.png) ;
   --stroke-color: border: 1px solid rgba(0, 0, 0, 0.5);
   --surface-color: rgba(0, 0, 0, 0.05);
   --surface-color-hover:  rgba(0, 0, 0, 0.02);
   --highlight-color: rgba(0, 0, 0, 0.1);
   --switch-bg-url: url(assets/sun.svg);
}

body {
	/* ordem background:color, url, repeat, position/size  */
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

#container {
	  width: 100%;
      max-width: 588px;
	  height: 712px;
      padding: 0px 24px;
      margin: 56px auto 8px auto;
}

  /* Profile */

#profile img {
     padding: 24px;
     margin: auto;
     width: 220px;
     display:block;
}

#profile p {
       text-align: center;
       font-weight: 500;
       line-height: 24px;
       padding: 8px 0 24px 0;
}

  /* Switch */

#switch {
   position: relative;
   width: 64px;

   margin: 4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 0px;
    background: white var(--switch-bg-url) no-repeat center;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    
}

.light #switch button {
     right: 0;
     left: initial;

}

#switch span {
    display: block;
    height: 24px;
    width: 64px;
    border: 1px solid var(--stroke-color);
    background: var(--surface-color);
    border-radius: 999px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

  /* Links */

ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 8px;

    
    padding: 24 0;
}

   /* config link */

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.3s;
}

ul li a:hover {
     background: var(--surface-color-hover);
     border: 1.5px solid var(--text-color);
}

   /* Social Links*/

#social-links {
    display: flex;
    gap: 16px;
    justify-content: center;

    padding: 24px 0px;

    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px;
}

#social-links a:hover {
   border-radius: 16px;
   background:var(--highlight-color);
   transition: background 0.3s;

}

   /*Rodapé*/

footer {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 24px 0;
    
   font-size: 14px;
}

    /*Media queries*/
@media (min-width: 700px) {
    :root {
        --bg-url: url(./assets/backgroundDesktopDark.jpg);
    }

    .light {
         --bg-url: url(./assets/backgroundDesktopLight.jpg);
    }
}