*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body *{
     font-family: 'inter', sans-serif;
     color: #FFFF;
}

body{
	/* ordem background:color, url, repeat, position/size  */
    background: url(./assets/backgroundMobileDark.jpg) no-repeat top center/cover;
}

#container{
	  width: 360px;
	  height: 712px;
      padding: 0px 24px;
      margin: 56px auto 8px auto;
}

#profile img{
    padding: 24px;
     margin: auto;
     width: 220px;
     display:block;
}

#profile p{
       text-align: center;
       font-weight: 500;
       line-height: 24px;
}

ul{
    list-style: none;

    display: flex;
    flex-direction: column;
    padding: 24 0;
    gap: 8px;

}

ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    
    background: rgba( 255, 255, 255, 0.1);
    border: 1px solid rbga(255, 255, 255, 0.5);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.2s;
}

ul li a:hover{
     background: rgba( 255, 255, 255, 0.05);
     border: 1.5px solid white;
}

#social-links{
    display: flex;
    gap: 32px;
    justify-content: center;

    padding: 24px 0px;
    border: 1px solid red;

    font-size: 24px;
}